<h1>Categories</h1>
<ul>
  <% @categories.each do |cat| %>
    <li>
      <%= link_to cat.name, category_url(cat) %>
      
 			<ul>
      	<% cat.products.each do |p| %>
      	<li>
      		<%= link_to p.name, product_url(p) %>
      		<%= link_to(image_tag(p.photo.url(:thumb)), p.photo.url(:original)) %>
      	</li> 
        <% end %>
      </ul> 
    </li>
  <% end %>
</ul>
